{{!< default}}

<section class='welcome'>
  <p>
    <b>Hello!</b> <a href='/me/'>I'm Shayne</a> and I'm an <a href='http://asp.net' target='_blank'>ASP.NET</a> MVP, mobile services developer, play in the cloud, community speaker and contributor.
  </p>
</section>

<main class="content" role="main">
    <div style="margin:auto; margin-bottom:10px">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Homepage -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-9862650918066922"
            data-ad-slot="4760093834"
            data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <br />

    {{#foreach posts}}

    <article class="home {{post_class}}">
        <p class="meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd Do MMMM YYYY"}}</time></p>
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{pagination}}

    <br />

    <div data-type="ad" data-publisher="tattoocoder.com" data-format="728x90" data-zone="main_page" style="margin-top:10px"></div>
    <table>
        <tr>
            <td>
                <div data-type="ad" data-publisher="tattoocoder.com" data-format="300x250" data-zone="main_page" style="margin:auto; margin-top:10px"></div>
            </td>
            <td>
                <div data-type="ad" data-publisher="tattoocoder.com" data-format="300x250" data-zone="main_page" style="margin:auto; margin-top:10px" ></div>
            </td>
        </tr>
    </table>

    <br />
</main>
