<div class="content-sidebar">

    {{#is "home"}}
    {{else}}
        <div class="widget sidebar-featured">
            <h4 class="sidebar-featured-header">Shayne</h4>
            <p>{{@blog.description}} <a href="/me" class="article_link-more fa fa-long-arrow-right"></a></p>
        </div>

        <hr/>
    {{/is}}


    <div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Upcoming Events</h4>
        <p>Here's the upcoming public events I'll be at:</p>
        <ol>
            <li><a href="https://devintersection.com/">DevIntersection/Anglebrackets: 24-28 Oct, Las Vegas, NV</a></li>
            <li><a href="">Microsoft MVP Summit: ~Nov, Seattle, WA</a></li>
        </ol>
    </div>

    <hr/>

    <div id="ad1" class="panel" data-type="ad" data-publisher="tattoocoder.com" data-zone="sidebar" data-format="300x250"></div>

    <hr/>

    <div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Must Read</h4>
            {{#is "home"}}
                {{#foreach posts}}
                    {{#if featured}}
                        <li><a href="{{url}}">{{title}}</a></li>
                    {{/if}}
                {{/foreach}}
            {{else}}
                {{#author}}
                    {{#foreach posts}}
                        {{#if featured}}
                            <li><a href="{{url}}">{{title}}</a></li>
                        {{/if}}
                    {{/foreach}}
                {{/author}}
            {{/is}}
    </div>

    <hr/>

    <div id="ad2" class="panel" data-type="ad" data-publisher="tattoocoder.com" data-zone="sidebar" data-format="300x250"></div>

    <hr/>

    <div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Courses, Podcasts, Projects</h4>
        <ol>
            <li><a href="http://spboyer.me/pbpaspnetspboyer">Pluralsight: Play by Play - ASP.NET Core on any OS w/ John Papa &amp; Shayne Boyer</a></li>
            <li><a href="https://devchat.tv/adventures-in-angular/082-aia-getting-started-with-angular-2-with-no-angular-1-experience-with-shayne-boyer" target="_blank">Adventures in Angular Podcast : Episode 82</a></li>
            <li><a href="http://github.com/omnisharp/generator-aspnet" target="_blank">Yeoman Generators for ASP.NET Core</a></li>
            <li><a href="http://tattoocoder.com/asp-net-core-slack-community/">ASP.NET Core Slack Community</a></li>
        </ol>
    </div>

    <hr/>

    <div id="ad2" class="panel" data-type="ad" data-publisher="tattoocoder.com" data-zone="sidebar" data-format="160x600"></div>

</div>
