{{!

	BLOG COVER
	- Configuration of this file is not required.

}}

	{{#if @blog.cover}}
	<div id="cover" class="cover post indexfeature featured">
		<div class="background" style="background-image: url('{{@blog.cover}}');"></div>
		<header class="wrapper">
			{{#if @blog.logo}}<img src="{{@blog.logo}}" class="profileimage" alt="{{@blog.title}}">{{/if}}
			<p>{{@blog.description}}</p>

			<ul class="social">
				{{! ADD AUTHOR SOCIAL LINKS HERE }}
				{{! REMOVE ANY UNWATED LINKS }}

				{{! TWITTER }}<li><a href="http://twitter.com/spboyer" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>

				{{! GITHUB }}<li><a href="http://github.com/spboyer" class="github" target="_blank"><i class="fa fa-github-alt"></i></a></li>

				{{! GOOGLE+ }}<li><a href="http://plus.google.com/+shayneboyer" class="googleplus" target="_blank"><i class="fa fa-google-plus"></i></a></li>

				{{! LINKEDIN }}<li><a href="https://www.linkedin.com/in/shayneboyer" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>

				{{! RSS - LEAVE DEFAULT}}<li><a href="{{@blog.url}}/rss/" class="rss" target="_blank"><i class="fa fa-rss"></i></a></li>
			</ul>

		</header>
		<i class="fa fa-chevron-down movedown"></i>
	</div>
	{{/if}}
